# @package _global_

algorithm:
  _target_: "gfn_maxent_rl.algos.soft_actor_critic.SAC"

  actor_network: ${policy_network}

  critic_network: ${value_network}

  target: "incremental"
  target_kwargs:
    step_size: 0.99

reward_correction: true

group_name_algorithm: "sac"