# @package _global_

env:
  _target_: "gfn_maxent_rl.envs.dag_gfn.factories.get_dag_gfn_env"

  # Path to the artifact for input data in Wandb
  artifact: "tristandeleu_mila_01/gfn_maxent_rl/er2-lingauss-d005:v0"

  # Prior over graphs P(G)
  prior_name: "uniform"
  prior_kwargs: {}

  # Score to compute the log-marginal likelihood log P(D | G)
  score_name: "zero"
  score_kwargs: {}

env_wrapper:
  _target_: "gfn_maxent_rl.envs.dag_gfn.wrappers.RewardCorrection"
  alpha: 1.0

policy_network:
  _target_: "hydra.utils.get_method"
  path: "gfn_maxent_rl.envs.dag_gfn.policy.policy_network"

value_network:
  _target_: "hydra.utils.get_method"
  path: "gfn_maxent_rl.envs.dag_gfn.policy.q_network"
