# @package _global_

env:
  _target_: "gfn_maxent_rl.envs.treesample.factories.get_treesample_env"

  # Name of the environment
  name: "chain"

  # Number of variables in the factor graph
  num_variables: 10

  # Number of values each discrete variable may take
  num_categories: 5

  # Use a fixed ordering for variable assignments
  fixed_ordering: false

env_wrapper:
  _target_: "gfn_maxent_rl.envs.treesample.wrappers.RewardCorrection"
  alpha: 1.0

policy_network:
  _target_: "hydra.utils.get_method"
  path: ""  # TODO

value_network:
  _target_: "hydra.utils.get_method"
  path: ""  # TODO
